<div class="page-width">
    <h1 style="{{ text-align:  section.settings.title_alignment }}">{{ section.settings.title }}</h1>
    <p>{{ section.settings.desc-hello }}</p>
</div>

{% schema %}
{
    "name": "Hello World",
    "tag": "section",
    "class": "hello-world",
    "settings": [
       {
         "type": "text",
        "id": "title",
        "label": "title"
       },
       {
        "type": "select",
        "label": "title alignment",
        "id" : "title_alignment",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "right",
                "label": "Right"
            }
        ],
        "default": "left"
       },
        {
        "type": "textarea",
        "id": "desc-hello",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
        }
        ],
        "presets": [{
            "name": "Hello World"
        }]
}
{% endschema %}
